body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.main-content {
    width: 80%;
    padding: 20px;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

.actions {
    display: flex;
    gap: 10px;
}

.recent-activity, .stats, .store-info {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.activity-cards {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.card {
    background-color: #ffffff;
    padding: 20px;
    flex: 1;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stats {
    display: flex;
    gap: 20px;
}

.sales-chart, .top-items-categories {
    text-align: center;
}

.sales-chart canvas {
    max-width: 100%;
    height: auto;
}

.categories-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    padding: 10px;
}

.category-item {
    text-align: center;
    padding: 10px;
    background-color: #d9d9d9;
    border-radius: 8px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}

.store-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.store-info > div {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stock-number h3, .store-list h3 {
    margin-bottom: 15px;
    font-size: 1.2em;
    color: #333;
}

.stock-number p, .store-list div {
    margin-bottom: 10px;
    font-size: 1em;
    color: #555;
}