.container {
  display: flex;
  width: 100%;
  height: 100vh; 
  overflow: hidden; 
}

.sidebar {
  margin-top: 100px;
  position: sticky;
  top: 0; 
  width: 17%;
  background-color: #263238;
  border-top-right-radius: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 100vh;
  margin-left: -265px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 10px 0;
}

.sidebar nav ul li a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
}

.sidebar nav ul li .material-symbols-outlined {
  vertical-align: middle; 
}

.main-content {
  flex-grow: 1;
  overflow-y: auto; 
  padding: 20px;
  height: 100vh; 

}

header {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
}

header .actions .icon {
  margin-right: 25px;
  cursor: pointer;
  font-size: 25px;
}

#logout{
  margin-top: 420px;
}

.logo img {
  width: 70px;
  margin-left: 40px;
  margin-top: 20px;
}

.logo p{
  margin-left: 120px;
  margin-top: -60px;
  font-size: 35px;
  background: plum;
  background-image: linear-gradient(to top, rgb(81, 76, 78) 0%, rgb(160, 200, 221) 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}