.sidebar {
    margin-top: 80px;
    background-color: #263238;
    border-top-right-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 17%;
  }
  
  .sidebar .logo {
    font-size: 1.5em;
    margin-bottom: 30px;
  }
  
  .sidebar nav ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar nav ul li {
    margin: 10px 0;
  }
  
  .sidebar nav ul li a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    margin-top: -20px;
  }

  .main-content {
    flex-grow: 1;
    padding: 20px;
  }
  
  header {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
  }
  
  header .actions .icon {
    margin-left: 20px;
    cursor: pointer;
  }
