body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.main-content{
    width: 70%;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: row;
}

.h1stock{
    font-size: 50px;
}

table {
    width: 95%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 25px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #546E7A;
    color: white;
    height: 35px;
    text-align: center;
}
.in-stock {
    color: green;
}
.out-of-stock {
    color: red;
}
.status-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    width: 100px;
    border-radius: 20px;
}
.active {
    background-color: green;
   
}
.low {
    background-color: red;
}
td.status-cell {
    text-align: center;
}

td.name-cell, td.stock-cell {
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
